.fa-telegram {
    font-size: 32px; /* Размер иконки */
    color: #ffffff;  /* Цвет Twitter (опционально) */
    transition: color 0.5s ease;
    margin: 0 10px 0px 20px; /* Плавное изменение цвета за 0.3 сек */
  }

.fa-telegram:hover {
    color: #8b5cf6; /* Новый цвет при наведении (например, красный) */
}


.fa-whatsapp {
    font-size: 32px; /* Размер иконки */
    color: #ffffff;  /* Цвет Twitter (опционально) */
    transition: color 0.5s ease;
    margin: 0 10px 0px 0px; /* Плавное изменение цвета за 0.3 сек */
  }

.fa-whatsapp:hover {
    color: #8b5cf6; /* Новый цвет при наведении (например, красный) */
}

.fullscreen-section {
  min-height: 100vh;
  background: white; /* или любой другой фон */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.footer-contacts {
  font-size: 32px; /* Размер иконки */
  color: #ffffff;  /* Цвет иконки */
  transition: color 0.5s ease;
  margin: 10px 10px; /* Отступы между иконками */
}


.footer_gmail {
  font-size: 16px; /* Размер текста */
  color: #b4b4b4;  /* Цвет текста */
  margin-top: 30px; /* Отступ сверху */
}


.read_more_articles {
  border: 1px #FF0000;
}

.col-lg-6 {
  z-index: 2;
}
